body {
    background-color: #379A8C;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr .7fr 10fr;
    width: 70%;
    height: 96vh;
    margin: 0 auto;
    row-gap: 15px;
}

#grid-container > div {
    border-radius: 5px;
}

#header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: #379A8C;
    color: white;
    font-size: 5rem;
    text-align: center;
}

#state-logo {
    height: 5rem;
}

#pokeball-logo {
    height: 3rem;
    margin-left: -20px;
}

#nav {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
}

#nav a {
    color: #ed5564;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

.white {
    background-color: whitesmoke;
}

#pokedex-container {
    overflow-y: auto;
}

#pokedex-container h2 {
    margin-left: 10px;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vh 20vh 20vh;
    grid-auto-rows: 162px 162px 162px;
    gap: 10px;
    padding: 10px;
}

.card {
    border-radius: 5px;
    border: black 3px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 33% 33% 33%;
    padding: 10px;
    font-size: 1.5rem;
}

.card img {
    height: 100%;
}

.card > img {
    grid-row: 1 / 4;
}

.card span {
    margin: 2px;
    align-items: center;
}

.grass {
    background-color: rgb(159, 196, 159);
}

.grass-type {
    color: white;
    background-color: green;
}